<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
<link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}">
</head>

<body>

<header>
  <h1>🐾 Photo Gallery of Nature for Healing</h1>
</header>

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/gallery.html">Gallery</a></li>
    <li><a href="/about.html">About</a></li>
    <li><a href="/contact.html">Contact</a></li>
    <li><a href="/external.html">Information</a></li>
  </ul>
</nav>

<main>
  {{ content }}
</main>

<footer>
  <p>&copy; 2026 Skylar Chernago</p>
</footer>

</body>
</html>
